<div class="header">
  <div class="tw-text-24-px tw-font-600">Open Books Library</div>
  <div class="tw-flex">
    <select [formControl]="selectedOption" class="tw-h-10 tw-mr-3">
      <option *ngFor="let option of options" [value]="option">
        {{ option }}
      </option>
    </select>
    <div class="search-button">
      <mat-icon class="tw-mt-16-px" aria-label="Search Icon">search</mat-icon>
      <input
        [formControl]="bookSearch"
        name="searchKey"
        type="text"
        placeholder="Search Books"
        class="tw-border-0 tw-bg-inherit"
      />
    </div>
  </div>
</div>
<div class="tw-flex tw-flex-row tw-m-24-px">
  <section class="trending-subjects">
    <div class="tw-font-600 tw-text-24-px">Trending Subjects</div>
    <ul class="tw-list-none tw-pl-0">
      <li
        class="tw-text-16-px tw-cursor-pointer tw-p-12-px"
        *ngFor="let subject of trendingSubjects"
        routerLink="/trending-subject/{{ subject.name }}"
      >
        {{ subject.name }}
      </li>
    </ul>
  </section>

  <div *ngIf="allBooks.length > 0 && !isDataLoading" class="tw-flex-1">
    <front-end-internship-assignment-table-view
      [booksList]="allBooks"
      [subjectName]="bookSearch.value"
    ></front-end-internship-assignment-table-view>
  </div>
  <div
    *ngIf="isDataLoading"
    class="tw-w-[100%] tw-flex tw-justify-center tw-items-center"
  >
    <span class="tw-text-24-px">Loading!!</span>
  </div>

  <div
    *ngIf="!isDataPresent() && !isDataLoading"
    class="tw-w-[100%] tw-flex tw-justify-center tw-items-center"
  >
    <span class="tw-text-24-px">NO DATA TO DISPLAY</span>
  </div>
</div>
<div class="tw-w-[100%] tw-flex tw-justify-center">
  {{ pageNumber + 1 }}
</div>
<div class="tw-flex tw-justify-end tw-align-bottom tw-m-5">
  <button
    (click)="onPrevious()"
    class="tw-h-10 tw-m-3"
    [disabled]="isPrevDisabled()"
  >
    Previous
  </button>
  <button
    class="tw-h-10 tw-m-3"
    (click)="onNext()"
    [disabled]="isNextDisabled()"
  >
    Next
  </button>
</div>
